@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  background: url(./assets/Book.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
